---
layout: frontpage
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/banner2024.png
  overlay_top_image: /assets/images/logo.png
  overlay_show_title: false
  #video:
  # provider: youtube
  # id: g6AJ9qPPoyc
  #actions:
  #  - label: "<i class='fas'></i> Inschrijven"
  #    url: "/inschrijven"
excerpt: > 
    De 61<sup>e</sup> Wandel4Daagse Oldenzaal wordt gehouden van dinsdag 21 mei t/m vrijdag 24 mei 2024
feature_row:
  - title: "Inschrijven"
    excerpt: "Het is nu mogelijk om in te schrijven voor de Wande4Daagse Oldenzaal 2024!" 
    url: "/inschrijven"
    btn_class: "btn-green"
    btn_label: "Lees meer"  
  - title: "Tarieven"
    excerpt: "Wat kost deelnemen aan de Wandel4daagse in 2024?" 
    url: "/tarieven"
    btn_class: "btn-green"
    btn_label: "Lees meer"  
  - title: "Routes"
    excerpt: "Benieuwd welke routes we in 2024 gaan wandelen?"
    url: "/routes"
    btn_class: "btn-green"
    btn_label: "Lees meer"  
  - title: "Vrijwilligers gezocht!"
    excerpt: "Help je ons een handje mee tijdens de Wandel4Daagse Oldenzaal?"
    url: "/organisatie/vrijwilligers"
    btn_class: "btn-green"
    btn_label: "Lees meer" 
  - title: "Feedback"
    excerpt: "Bedankt voor jullie feedback! Ook in 2024 horen we weer graag van jullie hoe het is bevallen."
    url: "/feedback"
    btn_class: "btn-green"
    btn_label: "Lees meer"       
feature_row2:
  - image_path: /assets/images/news/2023/fotoboek.png
    alt: "Fotocollectie Wandel4Daagse Oldenzaal"
    title: "Foto's"
    excerpt: "Herinneringen ophalen uit eerdere Wandel4Daagse Oldenzaal? Bekijk ons fotoboek."
    url: "fotos"
    btn_label: "Bekijken"
    btn_class: "btn-green"      
---

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
