---
layout: frontpage
permalink: /
hidden: true
title: "Welkom"
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/banner2.jpg
  overlay_top_image: /assets/images/logo.png
  overlay_show_title: false
  #video:
  # provider: youtube
  # id: g6AJ9qPPoyc
  actions:
    - label: "<i class='fas'></i> Aanmelden"
      url: "/inschrijven/"
excerpt: > 
    De 60<sup>e</sup> Wandel4Daagse Oldenzaal wordt gehouden van dinsdag 30 mei t/m vrijdag 2 juni 2023
feature_row:
  - title: "Informatie"
    excerpt: "Meer informatie over de 60e editie van de Wandel4Daagse Oldenzaal vind je hier."
    url: "/informatie/"
    btn_class: "btn-green"
    btn_label: "Lees meer"
  - title: "Routes"
    excerpt: "Ook dit jaar zijn er weer 4 mooie routes uitgezet door de prachtige omgeving van Oldenzaal."
    url: "/routes/"
    btn_class: "btn-green"
    btn_label: "Lees meer"  
feature_row2:
  - image_path: /assets/images/photos.jpg
    alt: "placeholder image 2"
    title: "Fotos"
    excerpt: "Fotos van deze en de afgelopen edities van de Wandel4Daagse Oldenzaal vind je hier."
    url: "fotos"
    btn_label: "Bekijken"
    btn_class: "btn-green"      
---

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}