---
layout: frontpage
permalink: /
hidden: true
title: "Welkom"
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/banner2.jpg
  overlay_top_image: /assets/images/logo.png
  overlay_show_title: false
  #video:
  # provider: youtube
  # id: g6AJ9qPPoyc
  #actions:
  #  - label: "<i class='fas'></i> Inschrijven"
  #    url: "/inschrijven"
excerpt: > 
    De 61<sup>e</sup> Wandel4Daagse Oldenzaal wordt gehouden van dinsdag 21 mei t/m vrijdag 24 mei 2024
feature_row:
  - title: "Feedback"
    excerpt: "We horen graag je feedback! Wat ging er goed en wat kan er beter? Laat het ons weten."
    url: "/feedback"
    btn_class: "btn-green"
    btn_label: "Lees meer"    
  - title: "Routes"
    excerpt: "Dit jaar waren er weer 4 mooie routes uitgezet door de prachtige omgeving van Oldenzaal."
    url: "/routes"
    btn_class: "btn-green"
    btn_label: "Lees meer"  
  - title: "Navigeren via Komoot"
    excerpt: "Nieuw dit jaar was de mogelijkheid om je digitaal de weg te laten wijzen via Komoot."
    url: "/komoot"
    btn_class: "btn-green"
    btn_label: "Lees meer"
  - title: "Extra Fitcoins verdienen"
    excerpt: "Inwoners van Zuid Berghuizen konden maar liefst 50 extra Fitcoins verdienen met hun deelname."
    url: "/fitcoins"
    btn_class: "btn-green"
    btn_label: "Lees meer"
  - title: "Winacties"
    excerpt: "Ter ere van de 60 jarige jubileum editie waren er diverse leuke winacties."
    url: "/winacties"
    btn_class: "btn-green"
    btn_label: "Lees meer"       
feature_row2:
  - image_path: /assets/images/photos.jpg
    alt: "placeholder image 2"
    title: "Fotos"
    excerpt: "Herinneringen ophalen uit eerdere Wandel4Daagse Oldenzaal? Bekijk ons fotoboek."
    url: "fotos"
    btn_label: "Bekijken"
    btn_class: "btn-green"      
---

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
