<script type="text/javascript">
  function startParticipantsCounter() {
    // Ensure the element with id 'deelnemers' exists before trying to access it
    if(!document.getElementById('deelnemers')) {
        return;
    }
    // Start the counter with the fetched data
    let counter = new CountUp('deelnemers', 1232, {
      duration: 4,
      separator: ''
    });
    if (!counter.error) {
      counter.start();
    } else {
      console.error(counter.error);
    }
  }
</script>
<script src="/assets/countup/countUp.js" onload="startParticipantsCounter()"></script>