---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.btn-green {
    background-color: #88C738;
}

a.btn-green:visited, a.btn-green {
    color: #ffffff;
}

a.btn-green:hover {
    background-color: #96D14A;
}