---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.btn-green {
    background-color: #88C738;
}

a.btn-green:visited, a.btn-green {
    color: #ffffff;
}

a.btn-green:hover {
    background-color: #96D14A;
}

.btn-sidebyside {
    float: left;
    padding-right: 10px;
}

@media print {
    .no-print, .no-print *
    {
        display: none !important;
    }

    .breadcrumbs {
        margin: 0 !important;
    }
}

.page__meta-walking {
    margin-right: 10px;
}

.smalltext {
    font-size: 0.7em !important;
    font-style: italic;
}

.question {
    margin-bottom: 0.5em !important;
}

.btn-submit, .btn-signup {
    background-color: #88C738;
    padding: 15px;
    border-color: #ffffff;
    border-radius: 8px;
}

a.btn-submit:visited,, a.btn-signup:visited, a.btn-green {
    color: #ffffff;
}

a.btn-submit:hover, a.btn-signup:hover {
    background-color: #96D14A;
}

#qrcode {
    margin: 20px 20px 20px 20px;
    text-align: center;
}

#deelnemers {
    font-size: 1.4em;
}